ignore-workspace-root-check=true
node-linker=hoisted
restrict-manifest-changes=true
sync-injected-deps-after-scripts[]=build
inject-workspace-packages=true
public-hoist-pattern[]=*react-is*
public-hoist-pattern[]=*object-assign*
public-hoist-pattern[]=*unist-util-stringify-position*
shamefully-hoist=true
